<%= render '/refinery/slideshow' %>

<!-- START #main -->
  <div id="main">
    <div class="wrap">
    
      <!-- START #boxes -->
      <div id="boxes">
        <div class="box"><!-- box1 -->
          <div class="box-top">
            <p>DISH Network</p>
          </div>
          <div class="box-middle">
            <ul>
              <li>10GB Disk Space</li>
              <li>100GB Bandwidth</li>
              <li>Free Website Firewall</li>
              <li>Free Domain Name</li>
            </ul>
          </div>
          <div class="box-bottom">
            <center><a class="button-blue" href="#"><span>Order Now!</span></a></center>
            <div class="clear"></div>
          </div>
          
          <div class="clear"></div>
        </div>
        
        <div class="box"><!-- box2 -->
          <div class="box-top">
            <p>Direct TV</p>
          </div>
          <div class="box-middle">
            <ul>
              <li>10GB Disk Space</li>
              <li>100GB Bandwidth</li>
              <li>Free Website Firewall</li>
              <li>Free Domain Name</li>
            </ul>
          </div>
          <div class="box-bottom">
            <center><a class="button-blue" href="#"><span>Order Now!</span></a></center>
            <div class="clear"></div>
          </div>
          
          <div class="clear"></div>
        </div>
        
        <div class="box last"><!-- box4 -->
          <div class="box-top">
            <p>Wildblue Satellite</p>
          </div>
          <div class="box-middle">
            <ul>
              <li>10GB Disk Space</li>
              <li>100GB Bandwidth</li>
              <li>Free Website Firewall</li>
              <li>Free Domain Name</li>
            </ul>
          </div>
          <div class="box-bottom">
            <center><a class="button-blue" href="#"><span>Order Now!</span></a></center>
            <div class="clear"></div>
          </div>
          
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div>
      <!-- END #boxes -->
      
        <div class="clear"></div>
        <div class="divider"></div>
      

      <!-- START content -->
      <div id="content">
        
        <div class="one_third">
          <img src="<%= asset_path("services/growing.png") %>" align="left" alt="" />
          <h4 class="services-heading">A Growing Business</h4>
          <p class='tableft'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempor ligula id nulla imperdiet id hendrerit odio tempor.
          Nunc id enim sit amet tortor faucibus aliquet quis non nisi. Ut ut enim id ipsum molestie varius in id justo. Vestibulum a purus
          sed turpis posuere eleifend.</p>
        </div>
        
        <div class="one_third">
          <img src="<%= asset_path("services/support.png") %>" align="left" alt="" />
          <h4 class="services-heading">Dedicated Support</h4>
          <p class='tableft'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempor ligula id nulla imperdiet id hendrerit odio tempor.
          Nunc id enim sit amet tortor faucibus aliquet quis non nisi. Ut ut enim id ipsum molestie varius in id justo. Vestibulum a purus
          sed turpis posuere eleifend.</p>
        </div>
        
        <div class="one_third last">
          <img src="<%= asset_path("services/uptime.png") %>" align="left" alt="" />
          <h4 class="services-heading">99.9% Uptime Guarantee</h4>
          <p class='tableft'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempor ligula id nulla imperdiet id hendrerit odio tempor.
          Nunc id enim sit amet tortor faucibus aliquet quis non nisi. Ut ut enim id ipsum molestie varius in id justo. Vestibulum a purus
          sed turpis posuere eleifend.</p>
        </div>
        
          <div class="clear"></div>
          <div class="space2"></div>
          
        <div class="one_third">
          <img src="<%= asset_path("services/reputation.png") %>" align="left" alt="" />
          <h4 class="services-heading">Reputation</h4>
          <p class='tableft'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempor ligula id nulla imperdiet id hendrerit odio tempor.
          Nunc id enim sit amet tortor faucibus aliquet quis non nisi. Ut ut enim id ipsum molestie varius in id justo. Vestibulum a purus
          sed turpis posuere eleifend.</p>
        </div>
        
        <div class="one_third">
          <img src="<%= asset_path("services/technologies.png") %>" align="left" alt="" />
          <h4 class="services-heading">Latest Technologies</h4>
          <p class='tableft'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempor ligula id nulla imperdiet id hendrerit odio tempor.
          Nunc id enim sit amet tortor faucibus aliquet quis non nisi. Ut ut enim id ipsum molestie varius in id justo. Vestibulum a purus
          sed turpis posuere eleifend.</p>
        </div>
        
        <div class="one_third last">
          <img src="<%= asset_path("services/contract.png") %>" align="left" alt="" />
          <h4 class="services-heading">No Minimum Contract</h4>
          <p class='tableft'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempor ligula id nulla imperdiet id hendrerit odio tempor.
          Nunc id enim sit amet tortor faucibus aliquet quis non nisi. Ut ut enim id ipsum molestie varius in id justo. Vestibulum a purus
          sed turpis posuere eleifend.</p>
        </div>
        
          <div class="clear"></div>
          <div class="divider"></div>
          
<!--         <div id="features">
          <h4>Hosting Features</h4>
          <div class="one_third">
            <ul>
              <li>Unlimited Disk Space</li>
              <li>Unlimited Bandwidth</li>
              <li>Free Site Builder</li>
              <li>Forwarding Email Accounts</li>
              <li>Email Autoresponder</li>
              <li>Add-on Domains</li>
            </ul>
          </div>
          
          <div class="one_third">
            <ul>
              <li>Parked Domains</li>
              <li>Subdomains</li>
              <li>Additional FTP Accounts</li>
              <li>MySQL Databases</li>
              <li>PostgreSQL Databases</li>
              <li>IMAP Email Support</li>
            </ul>
          </div>
          
          <div class="one_third">
            <ul>
              <li>CGI-BIN</li>
              <li>CGI Library</li>
              <li>Server Side Includes</li>
              <li>Frontpage Extensions</li>
              <li>Account "Control Panel"</li>
              <li>FTP Access</li>
            </ul>
          </div>
          
          <div class="one_third last">
            <ul>
              <li>Shell Access (SSH)</li>
              <li>Override .htaccess Support</li>
              <li>Spam Assassin Protection</li>
              <li>Webmail</li>
              <li>Web File Manager</li>
              <li>Custom Cronjobs</li>
            </ul>
          </div>
          
          <div class="clear"></div>
          
        </div>
 -->      
      </div>
      <!-- END #content -->
    
    </div>
  </div>
  <!-- END #main -->
    
    <div class="clear"></div>
