  <!-- START #footer -->
  <div id="footer">
    <div class="wrap">

      <!-- START footer text area -->
      <div class="one_third">
        <h4>About Chapman Satellights</h4>
        <p><%= @page.content_for(:about) %></p>
        
      <!-- <ul id="socials">
          <li><a href="#"><img src="images/social/facebook.png" alt="" align="left" /></a></li>
          <li><a href="#"><img src="images/social/linkedin.png" alt="" align="left" /></a></li>
          <li><a href="#"><img src="images/social/twitter.png" alt="" align="left" /></a></li>
        </ul> -->
      </div>
      <!-- END footer text area -->
      
      <!-- START contact details -->
      <div class="one_third">
        <h4>Get In Touch</h4>
      
        <img src="<%= asset_path('footer/address.png') %>" class="footer-img" align="left" alt="" />
        <p>3rd Avenue, New York</p>
        <p>
          <span>
              <a style="color: white;" href="https://maps.google.com/maps?q=1801+S+Broadway+Ave,+Tyler,+TX+75701&amp;sll=32.329838,-95.300919&amp;hl=en&amp;ie=UTF8&amp;hq=&amp;hnear=1801+S+Broadway+Ave,+Tyler,+Smith,+Texas+75701&amp;ll=32.329838,-95.300919&amp;spn=0.010788,0.017638&amp;t=m&amp;z=14&amp;source=embed" style="color:#0000FF;text-align:left">Find Us On Map</a>
          </span>
        </p>
        
        <div class="clear"></div>
        <div class="space2"></div>
        
        <img src="<%= asset_path('footer/email-us.png') %>" class="footer-img" align="left" alt="" />
        <p>Email Us At:</p>
        <p><span>support@domain.com</span></p>
        
          <div class="clear"></div>
          <div class="space2"></div>
        
        <img src="<%= asset_path('footer/call-us.png') %>" class="footer-img" align="left" alt="" />
        <p>Phone Support:</p>
        <p><span>(903) 533-0078</span></p>
      </div>
      <!-- END contact details -->
        
      <!-- START footer navigation -->
      <div class="one_third last">
        <h4>Navigation</h4>
        <%= render(:partial => "/refinery/menu", :locals => {
                   :dom_id => 'menu',
                   :css => 'menu',
                   :ommit_class => true
                 }) %>
      </div>
      <!-- END footer navigation -->

      <div class="clear"></div>
    
    </div>
  </div>
  <!-- END #footer -->

<!-- START #copyright -->
  <div id="copyright">
    <div class="wrap">
    
      <p>Copyright &copy; 2012 <a href="/">Chapman Satellights</a>. All Rights Reserved.</p>
      
      <ul>
        <li><a href="#">Private Policy</a></li>
        <li><a href="#">Terms of Service</a></li>
      </ul>
      
      <div class="clear"></div>
    
    </div>
  </div>
  <!-- END #copyright -->
